div{

width: 400;
height: 400;
background-color: black;
border-top: solid purple 20px;
border-left: solid rgb(95, 0, 95) 20px;
border-right: dotted yellow 20px;
border-bottom: solid rgb(255, 0, 0) 20px;


}