img {
    width: 100%;
    height: 300px;

}

.card_wrap {
    background-color: black;
    display: inline-block;
    width: 260px;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 26px;
}

p {
    font-size: 18px;
}

button{
background-color: transparent;
padding: 5px;
border: solid green 1px;
color: wheat;

}
button:hover{
background-color: green;
padding: 5px;
border: solid green 1px;
color: wheat;

}